@font-face {
    font-family: 'naturasans';
    src: url('../fonts/naturasans-light_0-webfont.eot');
    src: url('../fonts/naturasans-light_0-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/naturasans-light_0-webfont.woff') format('woff'),
    url('../fonts/naturasans-light_0-webfont.ttf') format('truetype'),
    url('../fonts/naturasans-light_0-webfont.svg#naturasanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'naturasans';
    src: url('../fonts/naturasans-regular-webfont.eot');
    src: url('../fonts/naturasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/naturasans-regular-webfont.woff') format('woff'),
    url('../fonts/naturasans-regular-webfont.ttf') format('truetype'),
    url('../fonts/naturasans-regular-webfont.svg#naturasansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'naturasans';
    src: url('../fonts/naturasans-bold_0-webfont.eot');
    src: url('../fonts/naturasans-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/naturasans-bold_0-webfont.woff') format('woff'),
    url('../fonts/naturasans-bold_0-webfont.ttf') format('truetype'),
    url('../fonts/naturasans-bold_0-webfont.svg#naturasansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}