#header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.875rem 0;
  >div{
    &:first-child{
      margin-right: 1.25rem;
    }
  }

  #hamburger{
    margin-right: 0.9375rem;
    .fa-bars{
      font-size: 1.5rem;
    }
  }

  .hamburger-content{
    position: relative;
    .nav-sub-item{
      display: none;
      position: absolute;
      width: 200px;
      list-style: none;
      background-color: #ffffff;
      right: 0;
      top: 2rem;
      border: 1px solid #ccc;
      li{
        padding: 0.625rem;
        &:not(:last-child){
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }

}

.head{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 1.875rem 0;
}