// Variables


// Colors
$white :rgba(255, 255, 255, 1);
$black : rgba(0 ,0, 0, 1);
$red : rgba(255, 0, 0, 1);
$gray: rgba(201, 201, 201, 1);

// Breakpoints
$sm: 768px;
$md: 1024px;
$xl: 1200px;
$xxl: 1400px;