// Variables


// Colors
$white :rgba(255, 255, 255, 1);
$black : rgba(0 ,0, 0, 1);
$red : rgba(255, 0, 0, 1);
$gray: rgba(201, 201, 201, 1);

// Breakpoints
$bp-sm : 480px;
$bp-md : 768px;
$bp-l : 960px;
$bp-xl : 1200px;
$bp-xxl : 1400px;